@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    background-color: #5E7947;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Indie Flower", cursive;
}

main{
    display: flex;
    flex-flow: column ;
}

.img{
    background: url('../assets/images/banner.jpg') no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 10px 10px 0 0;
}

.form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #F7F7F5;
    margin: auto;
    width: 300px;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    color: #2f3e2e;
    font-size: 1.1em;
    font-weight: bold;
}

.form h1{
    text-align: center;
    margin: 10px 0 20px 0;
}

form p{
    padding: 10px 0;
}

form input{
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

form input[type="text"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}

[name="acompanhantes"]{
    margin-top: 10px;
}

#acomp-nao{
    margin-left: 20px;
}

#acompanhante-info, #extra-acompanhante{
    display: none;
    margin-top: 10px;
}

#add-acompanhante {
    padding: 8px;
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: #7a9b5b;
    color: #fff;
    font-size: .8em;
    transition: background-color 0.3s;
    margin: 10px  auto 0;
    font-size: 1em;
    font-family: "Indie Flower", cursive;
}

#add-acompanhante:hover {
    background-color: #6b8a4d;
    cursor: pointer;
}

form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: #5e7947;
    color: #fff;
    font-size: 1.1em;
    margin-top: 20px;
    transition: background-color 0.3s;
    font-family: 'Dancing Script', cursive;
}

form input[type="submit"]:hover {
    background-color: #4a6239;
}